body {
    box-sizing: border-box;
    color: whitesmoke;
    background-image: url("gentletexture.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#zd {
    width: 100vw;
    text-align: center;
    margin: auto;
    margin-left: 0;
    font-size: 3em;
    font-family: "pacifico", monospace;
    animation-duration: 1s;
}

#toaster {
    size: contain;
    width: 50vw;
    height: 50vw;
    display: block;
    margin: 7vh auto;
    background-color: white;
    animation-duration: 1.1s;
}


#nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    animation: hide;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;    
    visibility: hidden;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}


#nav-res {
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 0;
    animation-duration: 1s;
}

img {
    width: 90vw;
    height: auto;
    size: contain;
    margin: 3vw;
    animation: hide;
    animation-duration: 1s;
}



#docs-link {
    text-align: center;
    animation-duration: 1s;  
}

#links {
    width: 25vw;
    padding: 1vw;
    margin: auto;
    margin-top: 4.5vh;
    text-align: center;
    border: 2px solid white;
    border-radius: 30%;
    box-shadow: 0 0 25px 5px lightskyblue;
}

#radrides {
    width: 60vw;
    height: 70vw;
    display: block;
    margin: auto;
    margin-top: 2vh;
}

#zoom-up {
    animation-duration: 1.1s;
}

.text-center {
    text-align: center;
}

#about-me-p {
    padding: 3vw;
    line-height: 1.5;
    animation-duration: 1s;
    padding-top: 0;
}

#slide-right {
    text-align: right;
}

@keyframes hide {
    from { 
        visibility: hidden;
        font-size: 0;
    }
    to {
        visibility: visible;
        font-size: auto;
    }
}

