
body {
    box-sizing: border-box;
    min-width: 100vw !important;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(326deg, rgba(115,113,113,1) 10%, rgba(109,100,223,1) 47%, rgba(89,196,198,1) 100%);
    /*  filter: blur( 20.0px );  */
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

*:focus {
    border: 3px solid whitesmoke;
    text-decoration: red wavy underline;
}

h1 {
    display: inline;
    font-size: 3.75em;
    margin: auto 0;
    /*
    font-family: pacifico, cursive;
    */
    font-family: 'Miss Fajardose', cursive;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

nav > a:active {
    background-color: rgb(141, 39, 39);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.head {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.glassmain {
    background: rgba(255, 255, 255, 0.250);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    backdrop-filter: blur(15px);  
    margin: 10vw;
}

h2 {
    font-size: 2.25em;
    margin: 0;
    text-align: center;
}

small {
    font-size: 1.25rem;
}

.intro {
    margin: 3vw auto;
    padding: 2.5vw;
    text-align: center;
}

#contact {
    text-align: center;
    margin: auto;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.underline {
    text-decoration: underline;
}

.star1 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 5px;
}

.star2 {
    position: absolute;
    display: flex;
    bottom: 5px;
    left: 5px;
}
