body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(326deg, rgba(115,113,113,1) 10%, rgba(109,100,223,1) 47%, rgba(89,196,198,1) 100%);
    
    /*
    background: black url("gentletexture.jpg") no-repeat left top;
    */
    background-size: cover;
    color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
}

*:focus {
    border: 3px solid whitesmoke;
    text-decoration: red wavy underline;

}

img {
    width: 25vw;
    height: 25vw;
    background-color: white;
    border: 3px solid white;
    border-radius: 3px;
}

h1 {
    display: inline;
    font-size: 2.25em;
    margin: auto 0;
    font-family: pacifico, cursive;
}

a {
    text-decoration: none;
    color: rgb(29, 26, 26);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.head {
    width: 94vw;
    display: flex;
    justify-content: space-evenly;
    margin: 3vw;
}

.glass {
    background: rgba( 255, 255, 255, 0.250 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
}

h2 {
    font-size: 2.25em;
    margin: 0;
}

small {
    font-size: 1.25rem;
}

.intro {
    margin: 3vw;
    padding: 2.5vw;
}

#contact {
    width: 80vw;
    text-align: center;
    margin: auto;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.underline {
    text-decoration: underline;
}

.star1 {
    position: absolute;
    display: flex;
    top: 5px;
    right: 5px;
    
}

.star2 {
    position: absolute;
    display: flex;
    bottom: 5px;
    left: 5px;
    
}