body {
    color: whitesmoke;
    background-color: black;
    font-family: sans-serif;
}

#zd {
    text-align: center;
    font-size: 3em;
    animation-duration: 1s;
}

#toaster {
    size: contain;
    width: 50vw;
    height: 50vw;
    display: block;
    margin: auto;
    padding-top: 10%;
    border-radius: 50%;
    animation: color-in;
    animation-duration: 1s;
    animation-delay: 0.85s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.circle {
    width: 60vw;
    height: 60vw;
    display: block;
    margin: auto;
    margin-top: 20%;
    border-radius: 50%;
    animation: color-in;
    animation-duration: 1s;
    animation-delay: 0.85s;
    animation-fill-mode: forwards;
}

#nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    animation: hide;
    animation-duration: 1s;
    animation-delay: 0.85s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

li {
    padding: 1.5vw;
}

@keyframes color-in {
    from { 
        background-color: black;
        visibility: hidden;
        width: 0;
        height: 0;
        
    }
    to {
        background-color: lightblue; 
        visibility: visible;
    }
}

@keyframes hide {
    from { 
        visibility: hidden;
        font-size: 0;
    }
    to {
        visibility: visible;
        font-size: auto;
    }
}